@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

/* General */

body {
  font-family: 'Roboto Mono', monospace;
  /* background-color: #c2e6e8; */
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Buttons */

button,
button:active {
  background-color: rgb(234,178,156);
  border: none;
  width: 24px; /* Further reduced width */
  height: 22px; /* Further reduced height */
  border-radius: 100%;
  text-align: center;
  box-shadow: 0.1em 0.1em rgb(194, 91, 44); /* Further reduced shadow */
  -webkit-box-shadow: 0.1em 0.1em rgb(194, 91, 44);
  -moz-box-shadow: 0.1em 0.1em rgb(194, 91, 44);
}

button:focus {
  translate: 0.1em 0.1em;
  box-shadow: 0.1em 0.1em rgb(194, 91, 44) inset;
  -webkit-box-shadow: 0.1em 0.1em rgb(194, 91, 44) inset;
  -moz-box-shadow: 0.1em 0.1em rgb(194, 91, 44) inset;
}

/* Clock Body */

.clock-container {
  background-color: rgb(240, 240, 190); 
  width: 210px; /* Further reduced width */
  border-radius: 12px; /* Further reduced border-radius */
  padding: 15px; /* Further reduced padding */
  box-shadow: 5px 5px sienna; /* Further reduced shadow */
}

/* Display + Stop/Start/Reset Controls */

#time-left {
  font-size: 35px; /* Further reduced font size */
  text-align: center;
  background-color: rgb(150,180,175);
  padding: 10px; /* Further reduced padding */
  border-radius: 12px; /* Further reduced border-radius */
  box-shadow: 1px 1px rgb(121, 145, 141) inset; /* Further reduced shadow */
}

#display-controls {
  margin: 5px 0; /* Further reduced margin */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#timer-label {
  font-size: 16px; /* Further reduced font size */
  text-align: center;
  padding-top: 1px;
  background-color: rgb(150,180,175);
  border-radius: 6px; /* Further reduced border-radius */
  height: 25px; /* Further reduced height */
  flex: 2;
  box-shadow: 1px 1px rgb(121, 145, 141) inset; /* Further reduced shadow */
}

#timer-ssr {
  flex: 1;
  margin-left: 11px; /* Further reduced margin */
  display: flex;
  justify-content: space-between;
  flex-start: end;
}

/* Timer Length Controls */

.length-container {
  margin-top: 7px; /* Further reduced margin */
  display: flex;
  flex-direction: row;
}

.inc-dec-btn-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100px; /* Further reduced width */
  height: 40px; /* Further reduced height */
}

.break-container, 
.session-container {
  text-align: center;
  border: 2px solid rgb(234,178,156);
  padding: 6px; /* Further reduced padding */
  border-radius: 6px; /* Further reduced border-radius */
  width: 45%; /* Kept as is */
}

.timer-length {
  font-size: 1.2em; /* Further reduced font size */
}

.break-container,
.inc-arrow {
  margin-right: 6px; /* Further reduced margin */
}

