@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

/* General */

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #f5f5f5; /* Gris claro de fondo */
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Asegura que el contenedor principal ocupe toda la altura */
}

button,
button:active {
  background-color: #b0b0b0; /* Gris medio para los botones */
  border: none;
  width: 30px; /* Tamaño reducido */
  height: 30px; /* Tamaño reducido */
  border-radius: 50%; /* Forma circular */
  text-align: center;
  box-shadow: 0.1em 0.1em #8c8c8c; /* Gris oscuro para la sombra */
  -webkit-box-shadow: 0.1em 0.1em #8c8c8c;
  -moz-box-shadow: 0.1em 0.1em #8c8c8c;
}

button:focus {
  translate: 0.1em 0.1em;
  box-shadow: 0.1em 0.1em #8c8c8c inset;
  -webkit-box-shadow: 0.1em 0.1em #8c8c8c inset;
  -moz-box-shadow: 0.1em 0.1em #8c8c8c inset;
}

/* Clock Body */

.clock-container {
  width: 250px; /* Tamaño reducido */
  border-radius: 10px; /* Borde redondeado más pequeño */
  padding: 20px; /* Tamaño reducido del padding */
  box-shadow: 5px 5px #b0b0b0; /* Gris medio para la sombra */
}

/* Display + Stop/Start/Reset Controls */

#time-left {
  font-size: 50px; /* Tamaño de fuente reducido */
  text-align: center;
  padding: 10px; /* Tamaño reducido del padding */
  border-radius: 10px; /* Borde redondeado más pequeño */
  box-shadow: 2px 2px #b0b0b0 inset; /* Gris medio para la sombra interna */
}

#display-controls {
  margin: 5px 0; /* Tamaño reducido del margen */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#timer-label {
  font-size: 18px; /* Tamaño de fuente reducido */
  text-align: center;
  padding-top: 2px;
  border-radius: 5px; /* Borde redondeado más pequeño */
  height: 30px; /* Tamaño reducido */
  flex: 2;
  box-shadow: 2px 2px #b0b0b0 inset; /* Gris medio para la sombra interna */
}

#timer-ssr {
  flex: 1;
  margin-left: 20px; /* Tamaño reducido del margen */
  display: flex;
  justify-content: space-between;
  flex-start: end;
}

/* Timer Length Controls */

.length-container {
  margin-top: 10px; /* Tamaño reducido del margen */
  display: flex;
  flex-direction: row;
}

.inc-dec-btn-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100px; /* Tamaño reducido */
  height: 40px; /* Tamaño reducido */
}

.break-container, 
.session-container {
  text-align: center;
  border: 2px solid #b0b0b0; /* Gris medio para los bordes */
  padding: 5px; /* Tamaño reducido del padding */
  border-radius: 5px; /* Borde redondeado más pequeño */
  width: 45%; /* Tamaño reducido */
}

.timer-length {
  font-size: 1.5em; /* Tamaño de fuente reducido */
}

.break-container,
.inc-arrow {
  margin-right: 8px; /* Tamaño reducido del margen */
}
